@model IEnumerable<BookStore.Models.Book>

<div>
    <table class="table">
        <tr>
            <th>Book Name</th>
            <th>Release Year</th>
        </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.BookName</td>
                    <td>@item.ReleaseYear</td>
                </tr>
            }
    </table>
</div>