@model BookStore.Models.BookStockViewModel

<div>
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor( m => m.stock.StockCount )</dt>
        <dd>@Html.DisplayFor( m => m.stock.StockCount )</dd>
    </dl>
</div>